body {
  font-family:Geneva, Tahoma, sans-serif;
  background-color: rgb(48,35,18);
  color: rgb(206, 166, 120);
}

a {
  color: rgb(226, 166, 90);
}

.main-display {
  width: 80vw;
  height: 40vh;
  margin: 0 auto;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
text-align: center;
background-color: rgb(31,25,16);
color: rgb(126,168,167);
border-radius: 1em;
border: 5px solid rgb(126,168,167);
}

.fuck-covid {
  font-weight: 500;
  margin: .5em;
  font-size: 5em;
  align-self: center;
}

#chi-is {
  margin:0 0 0 .5em;
  flex: 0 1 auto;
align-self: flex-start;
}

#vaccinated {
  margin:0 .5em 0 0;
  flex: 0 1 auto;
align-self: flex-end;
}

#up-date {
  margin: 5px;
}

.big-ratio {
  font-size: 1em;
  color: rgb(126,168,167);
  text-align: center;
margin: 10px;
}

.search-bar {
display: flex;
justify-content: center;
  
}

.search-bar input{
  background-color: rgb(88,75,48);
  border-radius: .5em;
  border: 2px solid rgb(126,168,167);
  color: rgb(206, 166, 120);
}

.table {
  display: flex;
  flex-flow: column nowrap;
  font-size: 1rem;
  margin: 0.5rem;
  line-height: 1.5;
  border-bottom: 1px solid rgb(31,25,16);
  flex: 1 1 auto;
}


.table-row {
  border-bottom: 2px solid rgb(31,25,16);
  border-collapse: collapse;
  padding-top: 5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content:space-evenly;
}

.table-row.header {
  background-color: rgb(31,25,16);
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
}

.cell {
  flex-grow: 1;       
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 20px;
  max-width: 130px;
  text-align: center
}


/* //breakpoints courtesy https:\/\/devfacts.com\/media-queries-breakpoints-2021\/ */

/* // Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) { 
.main-display{
    max-width: 80vw;
  }
  
  .pop{
  display: none;
}
.percentFirstDosed{
  display: none;
}
.dosesYesterday{
  display: none;
}
.peopleVaxd{
  display: none;
}
  .peopleFirstDosed{
    display: none;
  }
  /* .table .table-row:nth-of-type(2){
    display: none;
  } */
}

/* // Medium devices (tablets, 576px and up) */
@media (min-width: 576px) {
  .main-display{
    max-width: 60vw;
  }
  .percentFirstDosed{
    display: none;
  }
  .dosesYesterday{
    display: none;
  }
  .peopleVaxd{
    display: none;
  }
  .peopleFirstDosed{
    display: none;
  }
  /* .table .table-row:nth-of-type(2){
    display: none;
  } */
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
.main-display{
    max-width: 40vw;
  }
  .cell {
    max-width: 150px;
  }
  .peopleVaxd{
    display: inline;
  }
  /* .table .table-row:nth-of-type(2){
    display: none;
  } */
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 1100px) {
.main-display{
    max-width: 30vw;
  }
  .cell{
    max-width: 150px;
  }
 .dosesYesterday{
    display: inline;
  }
  .percentFirstDosed{
    display: inline;
  }
  /* .table .table-row:nth-of-type(2){
    display: flex; */
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1380px) {
.main-display{
    max-width: 20vw;
}
   .cell {
    max-width: 170px;
  }
  .peopleFirstDosed{
    display: inline;
  }
}

.expanded {
  line-height: 2;
    background-color: rgb(31,25,16);
  flex-flow: row wrap;
  justify-content: space-evenly;
/*   align-content: baselinespace-around;  */
}

.expanded .cell {
  display: none;
}

.expanded-cell {
  color: rgb(126,168,167);
  padding: 0px 5px 0px 5px;
  margin: 0; 
  border: 1px solid;
  border-radius: 3px;
  margin: 2px;
  
}